# Entornos virtuales
.venv/
.tmpenv/
env/
venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Datos (no versionar archivos pesados .csv)
data/raw/*
data/processed/*
data/final/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/final/.gitkeep

# Modelos pesados
models/saved/*.pkl

# (Opcional) Si no deseas subir los reportes autogenerados cada vez
# models/reports/*
